/*********************************
            colors
*********************************/

$c_black: #000;
$c_white: #fff;
$c_silver: #a39d9d;
$c_serenity: #92a8ce;
$c_opalBlue: #c4dcd6;
$c_cloudDancer: #efeee9;
$c_lavenderFog: #d1c2d4;
$c_roseQuartz: #f5caca;
$c_copper: #c27e5d;

/*********************************
            sizes
*********************************/

$pageWidthMax: 1200px;

$w_normal: 820px;
$w_small: 640px;
$w_xsmall: 460px;

$borderWidth: 10px;
